* {
    box-sizing: border-box;
}

body {
    height: 100vh;
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: seagreen; */
}

header {
    text-align: center;
}

.info-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    column-gap: 15px;
}

.board { 
    border: 3px solid black;
    display: grid;
    grid-template-columns: repeat(4, 10vmin);
    grid-template-rows: repeat(4, 10vmin);
    /* there is too much hard coding here. test in progress TODO: make adaptive to difficulty */
}

.board > div {
    /* border: 2p dashed navy; */
    outline: 2p dashed navy;
    /* background-color: seagreen; */
}

.hidden {
    /* border: 2px dotted navy; */
    outline: 2px dotted navy;
    background-color: rgb(42, 148, 235);
    color: transparent;
}

.revealed {
    /* border: 2px double navy; */
    outline: 2px double navy;
    background-color: rgb(21, 69, 109);
    color: rgb(222, 117, 25);
    text-align: center;
    font-size: 8vmin;
}


h3 {
    text-align: center;
}