* {
    box-sizing: border-box;
}

body {
    height: 100vh;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: #2891ac; */
    text-align: center;
    background-image: url(/images/ocean-waves.png);
    background-repeat: no-repeat;
    background-size: cover;
}

header {
    margin-top: 200px;
    padding-top: 100px;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    text-align: center;
    color: limegreen;
}

h1 {
    font-size: 60px;
    margin: 20px;
}

#message {
    font-size: 40px;
    margin: 20px;

}


.info-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    column-gap: 15px;
    font-size: 20px;
    margin: 20px;
    height: 80px;
}

.reset {
    margin: 25px;
    width: 80px;
    height: 40px;
    font-size: 20px;
    background-color: lightgrey;
    border: none;
    color: rgb(220, 0, 0);
}


#remaining-mines {
    font-size: 25px;
}

#board { 
    width: 600px;
    height: 600px;
    border: 5px darkblue;
    background-color: rgb(42, 148, 235);
    display: flex;
    flex-wrap: wrap;

}

#board div {
    height: 60px;
    width: 60px;
    outline: 1px dashed navy;
    /* text */
    font-size: auto;
    display: flex;
    justify-content: center;
    align-items: center;

}


.revealed {     /* cells gain this class when clicked */
    background-color: rgb(21, 69, 109);
}

/* text colours for adjacent mine warnings */
.x1 {
    color: yellow;
}

.x2 {
    color: green;
}

.x3 {
    color: red;
}

.x4 {
    color: purple;
}

.x5 {
    color: orange;
}

.x6 {
    color: teal;
}

.x7 {
    color: darkorchid;
}

.x8 {
    color:hotpink
}

#flag-btn {
    margin: 25px;
    width: 80px;
    height: 40px;
    font-size: 20px;
    background-color: lightgrey;
    border: none;
}

h3 {
    text-align: center;
}

#flag-btn:hover {
    border: 2px solid gold;

}

button:hover {
    border: 2px solid gold;
}

footer {
    width: 60vmin;
    margin-bottom: 4vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
